 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  :root {
    --hue-nuetral:200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
 body {
    --hue: var(--hue-nuetral);
    background-color: hsl(var(--hue),100%,20%);
    
 }
 
 .container {
  width : 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 100px auto 0;
 }
 .container h1 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 25px;
  color: #001e4d;
  text-transform: capitalize;
  text-align: center;

 }
 .wishes {
   font-size: 20px;
   text-align: center;
   color: orange;
   padding-bottom: 5px;
    
 }
 .onlineQuiz-container {
  padding: 20px 0;
 }
 #question {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;

 }
 img {
   width: 150px;
   height: 150px;
   margin: 10px;
   border-radius: 10px;
   }

   
   .controls .btn {

      font-size: 25px;
      border-radius: 5px;
      padding: 10px 20px;
      background-color: hsl(var(--hue),100%,30%);
      color: #ffff;
      border: hsl(var(--hue),100%,50%);
      text-align: center;
      font-weight: bold;
      margin: 5px;
   }
   .controls {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .hide{
     display: none; 
   }