 body {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    background-color: rgb(14, 14, 84);
    text-align: center;
 };

 .onlineQuizApp {
    width : 80%;
    border-radius: 10px;
    color: #f7f3f3;
    background-color: black;


 }